<div class="search-card-container">
    <h2>Buscar Carta</h2>
    <form autocomplete="off" [formGroup]="searchForm"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Search</label>
        <input type="text" formControlName="name" placeholder="Ingresa la Carta que desea Buscar"/>
      </div>
      <button type="submit" [disabled]="searchForm.invalid" class="login-button">Buscar</button>
    </form>
</div>
<div class="view-card-container">
          <table  style="text-align: center;" border="1">
            <tbody>
              <tr>
                <td><img></td>
                <td><button>Add</button></td>
              </tr>
            </tbody>
          </table>
</div>
  