<div>
    <h2>Deck</h2>
  
    <!-- Deck -->
      <table style="text-align: center;" border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cards of cards">
            <td>{{ cards.name }}</td>
            <td>{{ cards.image_uris }}</td>
            <td><button>Delete</button></td>
            <td><button>Add</button></td>
          </tr>
        </tbody>
      </table>
  </div>
  