<div class="view-deck-container">
    <h2>Deck</h2>
    <!-- Deck -->
      <table  style="text-align: center;" border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of cards">
            <td>{{ card.name }}</td>
            <td>{{ card.image_uris?.png }}</td>
            <td><button>Delete</button></td>
            <td><button>Add</button></td>
          </tr>
        </tbody>
      </table>
  </div>
  